body {
  margin: 0;
  background-color: #dbaf7c;
}

#start-btn, #restart-btn, #nextLevel-btn {
  background-color: rgb(172, 100, 22);
  color: rgb(48, 26, 2);
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px; 
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: #dbaf7c;
  width:1000px;
  height:700px;

  background-image: url("../images/fondo.jpg");
  background-position: center;
  background-size: cover;



  /* default settings for game box */
  /* overflow: hidden;  this will prevent element from been visible outside the game box */
  position: relative; /* this will allow elements to be positioned relative to the game-box */
  user-select: none; /* this will prevent elements from being highlighted */

}

#score-box {

width:1000px;
height:100px;
background-color: #221608;;
border: 2px solid rgb(0, 0, 0);
border-radius: 10px;
position: relative;
/* text-align: center; */
}

#score {
width:250px;
height:70px;
font-size: 60px;
color:beige;
text-align: center;
background-color: #57cb19;
border: 2px solid rgb(255, 255, 255);
border-radius: 10px;
margin-top: 14px;
margin-right: 14px;
float: right;


}

#itemBonus {
  width:70px;
  height:70px;
  background-color: #efefef;
  /* background-image: url("../images/azucar.png"); */
  background-position: center;
  background-size:contain;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin-top: 14px;
  margin-left: 14px;
  float: left;
  
  }
  #textoBonus {
  width:250px;
  height:70px;  
  color:rgb(255, 255, 255);
  font-size: 30px;
  display: inline;
  padding-top: 30px;

    
}
#game-screen, #gameover-screen, #gamecomplete-screen {
  display: none;
}








