body {
  margin: 0;
  background-color: #dbaf7c;
}

#start-btn,
#restart-btn {
  background-color: rgb(172, 100, 22);
  color: rgb(48, 26, 2);
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}

#nextLevel-btn {
  background-color: rgb(111, 7, 70);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 20px;
  margin-top: 40px;
  border-radius: 10px;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#game-box {
  background-color: #dbaf7c;
  width: 1200px;
  height: 700px;

  background-image: url("../images/fondo.jpg");
  background-position: center;
  background-size: cover;

  
  overflow: hidden; /* this will prevent element from been visible outside the game box */
  position: relative; /* this will allow elements to be positioned relative to the game-box */
  user-select: none; /* this will prevent elements from being highlighted */
}
#tituloGameBox {
  width: 1200px;
  height: 100px;
  background-color: #221608;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  

}
#score-box {
  width: 1200px;
  height: 100px;
  background-color: #221608;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  position: relative;
  /* text-align: center; */
}

#score {
  width: 300px;
  height: 95px;
  font-size: 80px;
  color: rgb(0, 0, 0);
  text-align: center;
  background-color: #ffffff;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin:0;
  float: right;
  position: relative;
}

#barraProgreso {
  background-color: rgb(0, 248, 0);
  height: 100%;
  width: 100%;
  float: left;
  text-align: center;
}


#textoBonus {
  width: 250px;
  height: 100px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 40px;
  float: left;
  margin: 0;
}

#itemBonus {
  width: 95px;
  height: 95px;
  background-color: #efefef;
  background-image: url("../images/azucar.png");
  background-size: contain;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  margin: 0;
 display: inline-flex;
}


#game-screen,
#gameover-screen,
#gamecomplete-screen {
  
  display: none;
}
